img {
	max-width: 450px;
	display: block;
	max-height: 220px;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
}

.gameList {
	margin: 0 auto;
	&__name{
		margin-top: 12px;
	}
	&__textAleft {
		padding-top: 10px;
		color: rgb(252, 127, 127);
		text-align: left;
	}
	&__textARight {
		padding-top: 10px;
		color: rgb(252, 127, 127);
		text-align: right;
	}
	&__games {
		z-index: 50;
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		text-align: center;
		font-weight: 700;
		grid-gap: 32px;
		color: white;
		& > div {
			cursor: pointer;
			max-width: 100%;
			padding: 25px;
			background-color: #363636;
			border-radius: 30px 10px 30px 11px;
			transition: 1s all;
			&:hover {
				transition: 0.3s all;
				transform: scale(1.05);
			}
		}
		img {
			border-radius: 20px;
			object-fit: cover;
			max-width: 100%;
			margin: 0 auto;
			height: 100%;
		}
	}
	&__block {
		display: flex;
		justify-content: space-between;
	}
}
.btn{
	position: relative;
    width: 160px;
    height: 45px;
    background-color: #ec644b;
    border-radius: 20px 20px 20px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    border: none;
    transition: .5s all;
	&:hover{
		box-shadow: 0 0 10px 0 #ff7300 inset, 0 0 10px 4px red
	}
	&:active{
		transform: scale(1.05);
	}
}