.container{
    max-width: 1140px;
    margin: 20px auto;
    position: relative;
}
.input {
	flex: 1 1 auto;
}
.button {
	color: white;
	display: inline-block;
	outline: none;
	border: none;
	height: 30px;
	background: transparent;
	border: 1px solid red;
}

.block {
	display: flex;
}