.container__footer{
    margin-top: 20px;
    border-top: 1px solid white;
    max-width: 100%;
    flex: 0 0 auto;
    padding: 20px;
    max-height: 100%;
    font-weight:bold;
    background-color:white;

}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    font-size:35px;
    color: rgb(0, 0, 0);
}


body{
    display: flex;
    flex-direction: column;
}
