.game{
    max-width: 1000px;
    margin: 0 auto;
    &__name{
        font-size: 35px;
        color: white;
        text-align: center;
    }
    &__description{
        font-size:16px;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 10px;
    }
    &__box-link{
        display: flex;
        grid-gap: 25px;
        justify-content: center;
        padding: 20px 0px 20px 0px;
        align-items: center;
    }
    &__link{
        max-width: 80px;
    }
    &__info{
        &-box{
            display: flex;
            align-items: center;
            margin-top: 20px;
            justify-content: space-between;
        }
    }
    p{
        padding-top:5px;
        color: white; ////i fuck my brain
    }
    img{
        max-width: 100%;
        object-fit: cover;
        max-height: 100%;
    }
}
h3{
    color: rgb(250, 164, 35);
    text-align: center;
}
.center-spinner{
    text-align: center;
}